* {
  margin: 0;
  padding: 0;
  
  /*box-sizing: border-box;*/
}


body {
  height: 100vh;
  background: linen;
  color: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  /*margin: 20px;*/
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 70px;
  line-height: 75px;

}

a:hover {
  color: pink;
}

a {
  font-family: Georgia;
  font-size: 20px;
  color: rgb(128, 104, 83);
  text-decoration: none;
  letter-spacing: 3px;
}

.logo {
  width: 60px;
  height: 60px;
}

.name {
  font-size: 20px;
  color: rgb(49, 47, 47);
  align-items: flex-start;
  font-family: Georgia, serif;
  letter-spacing: 2px;

}

.grid-parent1 {
  display: flex;
  flex-direction: row;
  @media (max-width: 425px) {
    flex-direction: column;
  }
}

.image-big-news {
  @media (max-width: 768px){
    height: 100%;
    width: 220px;
  }
}

.grid-item-grid-big-news {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 30px;
}


.grid-text-news {
  display: flex;
  font-size: 40px;
  font-family: Georgia, serif;
  align-items: center;
  justify-content: center;
  /*padding: 50px;*/
}

.other-news {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  gap: 10px;
  row-gap: 5px;
  height: 200px;
@media (max-width: 768px){
  flex-direction: column;
}
  
}

.small-news-image {
  width: 280px;
  height: 280px;
  object-fit: cover;
  @media (max-width: 768px){
    width: 220px;
    height: 220px;
  }

}



/* img {
  width: 335px;
  height: 335px;
  object-fit: cover;
} */

/*.text-item {
  background: linen;
  font-size: 25px;


}*/


@media screen and (max-width: 667px) {

  .navbar {
    gap: 5px;
    line-height: 20px;
    align-items: flex-end;
  }

  .logo {
    width: 25px;
    height: 25px;

  }

  a {
    font-size: 12px;
  }

  .name {
    display: none;
  }

  .grid-text-news {
    font-size: 20px;
  }

  .grid-parent1 {
    grid-template-columns: repeat(1, 1fr);
    padding: 5px;
  }

  .big-news-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .other-news {
    margin: 20px;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    row-gap: 30px;
    border: none;
  }

  .grid-item {
    justify-content: center;
  }

  .text-item {
    margin-bottom: 20px;

  }

  .small-news-image {
    /*width: 335px;
    height: 335px;
    object-fit: cover;*/
    width: 200px;
    height: 200px;
    object-fit: cover;
  }


}



@media screen and (min-width: 400px) and (max-width: 1023px) {

  .navbar {
    gap: 20px;
    line-height: 20px;
    justify-content: center;
    align-items: flex-end;
  }

  .logo {
    width: 30px;
    height: 30px;

  }

  a {
    font-size: 15px;
  }

  .name {
    display: none;
  }

  .grid-item {
    margin-bottom: none;
  }

  .grid-parent1 {
    grid-template-columns: repeat(2, 1fr);
    border: none;
  }

  .grid-big-news {
    gap: none;
    margin-bottom: none;

  }

  .other-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    gap: 20px;
    align-items: baseline;
    margin: 30px;
  }

  /*.small-news-image {
    width: 100%;
    height: 170px;
    object-fit: cover;

  }*/
}